# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify go-team about changes in go files
*.go            @privatix/go

# notify drew2a about changes in scripts and settings
/.github/       @drew2a
/scripts/       @drew2a
*.md            @drew2a

# notify devops team about changes in docs
/doc/           @kelewind @velopokatun

# notify devops team about changes in *.config.json
*.config.json   @kelewind @velopokatun @ubozov @drew2a

# notify js team about jobs changes
/data/jobs.go   @privatix/js
