# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify devops team about changes in docs
/doc/           @privatix/devops

# notify devops team about changes in *.config.json
*.config.json   @privatix/devops