# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify devops team about changes in docs
/doc/           @kelewind @velopokatun

# notify devops team about changes in *.config.json
*.config.json   @kelewind @velopokatun